/*Navbar*/

.navbar {
    background-color: white;
    border-radius: 0px;
    height: 100px;
    margin-bottom: 30px;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navbar-default .navbar-nav>li>a {
    color: #5cb85c
}
.navbar-brand {
    font-size: 25px;
    font-family: 'Palanquin Dark', sans-serif;
}
.navbar-nav>li {
    font-family: 'Mallanna', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
}
.navbar-nav {
    /* flex-direction: row; */
}
.navbar-header {
    align-self: left;
}
.nav-logo {
    margin-top: 0px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
}